<!DOCTYPE html>
<html>
    <head>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
            <meta charset="utf-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

body{
    font-family: "Lato", sans-serif;
    color: black;
 }
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #050344;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 15px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #3714b6;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.main{
    width: 1300px;
    height: 800px;
    background-color: rgb(245, 240, 240);
    float: right;

}
.sub{
    padding-top: 4px;
    width: 330px;
    height: 80px;
    background-color: white;
    margin-top: 40px;
    border-radius: 5px;
    float: left;
    margin: 10px 10px 20px 10px;

}

.happens{
    float: left;
    width: 1035px;
    height: 150px;
    background-color: white;
    margin-left: 15px;
}
.centre{
    width: 1100px;
    margin: 0 auto;
    background-color: rgb(245, 240, 240);

}
li{
    float: left;
    margin-right: 10px;
}

.one{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: cyan;
}
.two{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
}

.three{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: purple;
}

ul{
    display: inline;
    list-style: none;
}
.view{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: darkblue;
    float: right;
}
img{
    height: 100px;
    width: 100px;
}
.container{
    float: left;
}
.container a{
    color: white;
}
.mycourses{
    width: 1030px;
    height: 70px;
    background-color: white;
    margin: 0px 10px 30px 0px;
}

        </style>

    </head>

    <body>
        <div class="sidenav">
                <div class="sidenav">
                        <a style="color: white;">F.L.E.X</a>
        
                            <div class="circle">
                                <img src="images/malayan-tiger.jpg">
                            </div>
                        <br>
                        <a href="#">Institution Page</a><br>
                        <a href="profile.html">Profile</a><br>
                        <a href="courses.html">Courses</a><br>
                        <a href="dashboard.html">Dashboard</a>
                        <a href="#"> Log Out</a><br>
                    </div>
        </div>
        <div class="main">
            <p style="margin-left: 150px; color: rgb(3, 3, 51);">student</p>
           <div class="centre">
                <div class="sub">
                    <i class="fas fa-graduation-cap" style="height: 20px; width: 20px; float: left; margin-left: 55px; margin-top: 39px;"></i>
                    <h6 style="color: blue; float: left;">10 <br><br>UNITS TO DO</h6> 
                </div>

                <div class="sub">
                        <i class="far fa-clock" style="height: 20px; width: 20px; float: left; margin-left: 55px; margin-top: 39px;" ></i>
                        <h6 style="color: blue; float: left;">3<br><br>OVERDUE UNITS</h6> 
                    </div>

                    <div class="sub">
                            <i class="fas fa-certificate" style="height: 20px; width: 20px; float: left; margin-left: 55px; margin-top: 39px;"></i>
                            <h6 style="color: blue; float: left;">4 <br><br>COMPLETED COURSES</h6> 
                        </div>

                        <div class="happens">
                                <div class="attend" style="border-right: 1px solid grey; color: blue; float: left; width: 500px; padding: 15px;">
                                    <p>CLUBS AND ASSOCIATIONS </p> <p style="color: black;">Clubs and associations you could join</p>
                                    <ul>
                                        <li><div class="one">
                                           
                                        </div></li>
                                        <li><div class="two">
                                           
                                            </div></li>
                                            <li><div class="one">
                                           
                                                </div></li>
                                                <li><div class="two">
                                                   
                                                    </div></li>
                                    </ul>

                                    <div class="view">
                                         <p style="color: white; padding: 5px;">View all</p>
                                    </div>
                
                                </div>
                
                                <div class="activities" style="float: left; width: 500px; color: blue; padding: 15px;">
                                      <P>UPCOMING EVENTS</P> <p style="color: black;">Upcoming events that could interest you</p>
                                      <ul>
                                            <li><div class="one">
                                               
                                            </div></li>
                                                
                                                    <li><div class="three">
                                                       
                                                        </div></li>
                                        </ul>
                                </div>
                
                
                            </div>
                            <div>
                            <div class="container" style="margin-top: 20px;">
                                    <ul class="nav nav-tabs" style="background-color: blue; width: 1024px;">
                                      <li class="active"><a data-toggle="tab" href="#home">Courses</a></li>
                                      <li><a data-toggle="tab" href="#menu1">Quizes</a></li>
                                      
                                    </ul>
                                  
                                    <div class="tab-content">
                                      <div id="home" class="tab-pane fade in active">
                                        <h3>COURSES</h3>
                                        <p>Your recent courses</p>
                                        <div class="mycourses">
                                            <div style="float: left; margin: 11px;">
                                                    <img src="images/html.png" style="width: 100px; height: 50px; ">
                                                
                                            </div>
                                            <div style="float: left; margin: 11px;">
                                                    <p>Introduction to HTML</p>
                                                    <p>Hypertext Markup Language is the standard markup language</p>
                                            </div>
                                            <div style="float: right; margin: 30px 10px;">
                                            <div style="width: 150px; height: 15px; background-color: rgb(221, 214, 214); float: left;">
                                                <div style="width: 40px; height: 15px; float: left; background-color: blue;"></div><p style="float: right; color: white;">19%</p>
                                            </div>
                                            </div>
                                        </div>


                                        <div class="mycourses">

                                                <div style="float: left; margin: 11px;">
                                                        <img src="images/js.png" style="width: 100px; height: 50px; ">
                                                    
                                                </div>
                                                <div style="float: left; margin: 11px;">
                                                        <p>Introduction to JavaScript</p>
                                                        <p>JavaScript is the programming language of HTML and the Web.</p>
                                                </div>
                                                <div style="float: right; margin: 30px 10px;">
                                                <div style="width: 150px; height: 15px; background-color: rgb(221, 214, 214); float: left;">
                                                    <div style="width: 100px; height: 15px; float: left; background-color: blue;"></div><p style="float: right; color: white;">81%</p>
                                                </div>
                                                </div>

                                        </div>

                                        <div class="mycourses">

                                                <div style="float: left; margin: 11px;">
                                                        <img src="images/java.jpg" style="width: 100px; height: 50px; ">
                                                    
                                                </div>
                                                <div style="float: left; margin: 11px;">
                                                        <p>Introduction to Java</p>
                                                        <p>Java is a general-purpose programming language that is class-based</p>
                                                </div>
                                                <div style="float: right; margin: 30px 10px;">
                                                <div style="width: 150px; height: 15px; background-color: rgb(221, 214, 214); float: left;">
                                                    <div style="width: 80px; height: 15px; float: left; background-color: blue;"></div><p style="float: right; color: white;">50%</p>
                                                </div>
                                                </div>

                                        </div>
                                      </div>




                                      
                                      <div id="menu1" class="tab-pane fade">
                                        <h3>Menu 1</h3>
                                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                      </div>
                                      <div id="menu2" class="tab-pane fade">
                                        <h3>Menu 2</h3>
                                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                      </div>
                                      <div id="menu3" class="tab-pane fade">
                                        <h3>Menu 3</h3>
                                        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                      </div>
                                    </div>
                                  </div>

           </div>

        </div>

            </div>
    </body>
</html>